html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  background-color: black;
}

#canvas-container {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#ui-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  * {
    pointer-events: auto;
  }

  &.active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4);

  }
}